@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  font-family: "Varela Round", sans-serif;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
*:visited {
  text-decoration: none;
}
* a,
* a:hover,
* a:focus,
* a:active {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  padding: 0;
}

body {
  color: #fff;
  background-color: #091038;
  max-width: 1800px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.loading {
  margin: auto;
}

.react-datepicker {
  background-color: #2e5e9f !important;
}

.react-datepicker__input-container input {
  text-transform: capitalize;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #274f85 !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff !important;
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker__day:hover {
  background-color: #fff !important;
}

.react-datepicker__day-name {
  color: #fff !important;
}

.react-datepicker__day--selected {
  background-color: #274f85 !important;
}
.react-datepicker__day--selected:hover {
  color: #000;
}

.react-datepicker__day--keyboard-selected {
  background-color: #274f85 !important;
  color: #000 !important;
}

.header,
footer {
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: space-between;
}
.header h2,
footer h2 {
  font-size: larger;
}

footer {
  display: block;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: x-large;
}

.social {
  gap: 1rem;
}

.user-container {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  justify-content: center;
}

section {
  padding: 3rem 5rem;
  margin: 2rem 0 5rem;
}
section h1 {
  font-size: xxx-large;
}

.description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 7rem;
}
.description-container img {
  animation: 600ms slide cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}
@keyframes slide {
  0% {
    translate: -1300px;
  }
  100% {
    translate: 0px;
  }
}

.project-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-type {
  border-radius: 1rem;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  font-size: xx-small;
  background: #183153;
  min-width: 3rem;
  text-align: center;
  margin-block: auto;
}

.cards-container-container {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.cards-container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 532px; */
  max-width: 532px;
  min-width: -webkit-fill-available;
  height: 940px;
  background-color: #2e5e9f;
  border-radius: 1rem;
  /* margin-block: 2rem; */
  padding: 1rem;
  overflow-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card.add {
  font-size: 20rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.card h1 {
  margin-block: 1rem;
}
.card .card-desc {
  min-height: 100px;
  overflow-y: auto;
}
.card.fadein {
  transform: scale(0);
  animation: 600ms fadein 0.2s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}
@keyframes fadein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.card-add-container {
  display: flex;
}

.card-type-edit-delete-icons {
  font-size: x-large;
  position: absolute;
  right: 16px;
  display: inline-flex;
  align-items: center;
}
.card-type-edit-delete-icons .fa-solid {
  font-weight: 100;
  margin-left: 1rem;
  cursor: pointer;
}

.card-mask {
  background-color: rgba(0, 0, 0, 0.9607843137);
  width: -moz-available;
  width: -webkit-fill-available;
  height: -moz-available;
  height: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete-text {
  font-size: xx-large;
  padding: 1rem 2rem 0.85rem;
  margin-inline: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.delete-text:hover {
  background-color: #545454;
}
.delete-text.yes {
  background-color: #be0404;
}
.delete-text.yes:hover {
  background-color: #810000;
}

.form-admin {
  display: contents;
}

.date-type {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
  margin-block: 2em;
}

.peripheral-screen {
  color: #000;
  background-color: #000;
  height: 14rem;
  border-style: solid;
  border-width: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 8px 15px 0px;
  width: 373px;
}
.peripheral-screen img {
  height: 100%;
  pointer-events: none;
}
.peripheral-screen.mobile {
  border-width: 0.5rem;
  border-radius: 1.5rem;
  width: 115px;
}
.peripheral-screen.mobile .mobile-top-bar {
  background-color: #000;
  width: 100%;
  height: 15px;
}

.peripherals-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.desktop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.desktop-container.nopointer {
  cursor: auto;
}
.desktop-container.unchecked {
  opacity: 10%;
}

.desktop-detail {
  height: 10px;
  width: 220px;
  background-color: #000;
  transform: translateY(-3px) perspective(4px) rotateX(3deg);
  border-radius: 1rem;
}

.mobile-container {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.mobile-container.nopointer {
  cursor: auto;
}
.mobile-container.unchecked {
  opacity: 10%;
}

.mobile-detail {
  background-color: #333;
  position: absolute;
  transform: translateY(10px);
  width: 7px;
  height: 7px;
  border-radius: 1rem;
}

.links-container {
  display: flex;
  margin-block: 1rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  height: -moz-available;
  height: -webkit-fill-available;
  align-items: flex-end;
}

.link-icon {
  font-size: 50px;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  border: none;
  border-width: thin;
  border-color: #000;
  padding: 0;
  margin: 0;
  background: transparent;
  color: #fff;
}
input option,
textarea option,
select option {
  background-color: #183153;
}

.input.github {
  margin-block: 1rem;
}
.input.p {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.1607843137);
}
.input.h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-block: 1rem;
  background: rgba(0, 0, 0, 0.1607843137);
}

.fa-spinner {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-card-container {
  display: flex;
  max-width: 532px;
  justify-content: center;
  margin: auto;
}

.login-title {
  text-align: center;
}

.login-container {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  margin-block: 1rem;
}
.login-container input {
  padding: 0.5rem;
}

.login-error {
  color: #ff8484;
}

.icons-select {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: #fff;
}
.icons-select:hover::after, .icons-select:focus::after {
  content: attr(aria-label);
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  padding: 5px 14px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 0.8rem;
}
.icons-select[aria-label]:focus {
  outline: none;
}
.icons-select.admin {
  cursor: pointer;
}
.icons-select.admin:hover::after, .icons-select.admin:focus::after {
  background: transparent;
}
.icons-select img {
  width: 35px;
  pointer-events: none;
}

.signout-btn {
  cursor: pointer;
  width: fit-content;
}

.delete-yes-no-container {
  display: inline-flex;
  margin: 2rem;
}

.delay-generate-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1em;
}

.two-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  margin-block: 0.5em;
}

.button-cancel {
  color: #fff;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  border-radius: 1em;
  padding-block: 0.5em;
  background-color: transparent;
  border: none;
}
.button-cancel:hover {
  background-color: #545454;
}

.button-screenshots,
.button-ok,
.button-signout,
.button-nav,
.button-social {
  background-color: #183153;
  border: none;
  border-radius: 1em;
  padding-block: 0.5em;
  width: 246px;
  color: #fff;
  cursor: pointer;
  grid-column: 2/span 2;
}
.button-screenshots:hover,
.button-ok:hover,
.button-signout:hover,
.button-nav:hover,
.button-social:hover {
  background-color: #0d1c2f !important;
}
.button-screenshots:disabled,
.button-ok:disabled,
.button-signout:disabled,
.button-nav:disabled,
.button-social:disabled {
  cursor: not-allowed;
}
.button-screenshots:disabled:hover,
.button-ok:disabled:hover,
.button-signout:disabled:hover,
.button-nav:disabled:hover,
.button-social:disabled:hover {
  background-color: #183153;
}

.button-screenshots.disabled {
  background-color: #0d1c2f;
  cursor: auto;
}
.button-screenshots.disabled:hover {
  background-color: #0d1c2f;
}
.button-screenshots.error {
  color: #ff8484;
  background-color: #0d1c2f;
  cursor: auto;
}
.button-screenshots.error:hover {
  background-color: #0d1c2f;
}
.button-screenshots.ok {
  color: #adff2f;
  background-color: #0d1c2f;
  cursor: auto;
}
.button-screenshots.ok:hover {
  background-color: #0d1c2f;
}

.button-ok {
  color: #adff2f;
  font-size: larger;
  width: -webkit-fill-available;
  text-align: center;
}

.button-signout {
  width: auto;
}

.button-nav {
  background-color: transparent;
  width: auto;
  padding-inline: 1rem;
  font-size: smaller;
}
.button-nav a {
  display: flex;
}

.button-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-block: 4rem;
  font-size: larger;
}

.contact-button-container {
  margin: auto;
  padding: 1rem;
  width: fit-content;
}

.button-contact {
  background: rgba(0, 0, 0, 0.1607843137);
  padding-inline: 3rem;
}
.button-contact i {
  color: #fff;
}

.form-container {
  padding: 4rem;
  max-width: 772px;
  min-width: auto;
  margin: auto;
}
.form-container h1 {
  text-align: center;
}

.fields-container {
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 1rem;
  background-color: #2e5e9f;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fields-container p {
  text-align: center;
  margin-block: 1rem;
  font-size: larger;
  font-weight: 600;
}
.fields-container p.sent-ok {
  color: #adff2f;
}
.fields-container p.sent-error {
  color: #ff8484;
}

.fields {
  padding: 1rem;
  display: grid;
}

.field {
  padding: 0.5rem;
}

.thumb {
  animation: 600ms grow cubic-bezier(0.5, 1.5, 0.5, 1) alternate infinite;
}
@keyframes grow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(2);
  }
}

.timeline {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 60px;
  background: #2e5e9f;
  overflow: auto;
  border-radius: 1rem;
  margin-top: 4rem;
}

.cv {
  font-size: x-large;
  text-align: center;
  margin-top: 2rem;
}

.timeline:after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  height: 8px;
  background: #183153;
  border-radius: 3px;
  z-index: 1;
  transform: translateY(-50%);
}

.timeline article {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100px;
  padding: 10px;
  margin: 0 0 50px 0;
  vertical-align: top;
}

.timeline article:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 26px);
  left: 50%;
  background: #183153;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline article:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 20px solid #eeeeee;
  transform: translateX(-50%);
}

.timeline article:nth-child(even) {
  margin-top: 168px;
  margin-bottom: 0;
}

.timeline article:nth-child(even):before {
  top: auto;
  bottom: calc(100% + 26px);
}

.timeline article:nth-child(even):after {
  top: auto;
  bottom: 100%;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 20px solid #eeeeee;
  border-top: none;
}

.timeline article h2 {
  font-size: 1.5rem;
  margin: 0;
}

.error-page {
  font-size: 10rem;
  text-align: center;
}

.error-home {
  text-align: center;
}

.error-oops {
  margin-bottom: 10rem;
  text-align: center;
}

@media (max-width: 1730px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1130px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .card {
    height: auto;
  }
  .peripherals-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 615px) {
  .form-container {
    padding: 0;
  }
  .form-container h1 {
    font-size: larger;
  }
}
@media (max-width: 768px) {
  .form-container {
    width: auto;
  }
}
@media (max-width: 768px) {
  section p {
    text-align: justify;
  }
}
@media (max-width: 600px) {
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
@media (max-width: 450px) {
  .navbar {
    font-size: medium;
  }
}
@media (max-width: 1680px) {
  .timeline article h2 {
    font-size: 1rem;
  }
  .timeline article p {
    font-size: 1rem;
  }
}
@media (max-width: 1300px) {
  .timeline article h2 {
    font-size: 0.7rem;
  }
  .timeline article p {
    font-size: 0.7rem;
  }
}
@media (max-width: 835px) {
  .timeline article::before,
  .timeline article:nth-child(even)::before {
    top: 35%;
    left: -15px;
    transform: translateY(50%);
  }
  .timeline article::after,
  .timeline article:nth-child(even)::after {
    top: 35%;
    left: -20px;
    right: 50%;
    border-left: 20px solid #eeeeee;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
  }
  .timeline article:nth-child(even) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .timeline:after {
    height: 90%;
    width: 8px;
    left: 49px;
  }
  .timeline {
    flex-direction: column;
  }
  .timeline article {
    margin: unset;
    height: unset;
  }
  .timeline article h2 {
    font-size: 1rem;
  }
  .timeline article p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
