@use 'setup';

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 532px;
    height: 880px;
    background-color: setup.$lightblue;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    //box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

    &.add {
        font-size: 20rem;
        cursor: pointer;
        text-align: center;
        justify-content: center;
    }

    h1 {
        margin-block: 1rem;
    }

    .card-desc {
        min-height: 100px;
        overflow-y: auto;
    }
}

.card-add-container {
    display: flex;
}

.card-edit-delete-icons {
    font-size: x-large;
    position: absolute;
    right: 16px;

    .fa-solid {
        font-weight: 100;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.card-mask {
    background-color: #000000f5;
    width: -moz-available;
    width: -webkit-fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete-text {
    font-size: xx-large;
    padding: 1rem 2rem 0.85rem;
    margin-inline: 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #545454;
    }

    &.yes {
        background-color: #be0404;

        &:hover {
            background-color: #810000;
        }
    }
}

.form-admin {
    display: contents;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
    margin-block: 2em;
}

.peripheral-screen {
    color: #000;
    background-color: #000;
    height: 14rem;
    border-style: solid;
    border-width: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 8px 15px 0px;
    width: 373px;

    img {
        height: 100%;
    }

    &.mobile {
        border-width: 0.5rem;
        border-radius: 1.5rem;
        width: 115px;

        .mobile-top-bar {
            background-color: #000;
            width: 100%;
            height: 15px;
        }
    }
}

.peripherals-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-detail {
    height: 10px;
    width: 220px;
    background-color: #000;
    transform: translateY(-3px) perspective(4px) rotateX(3deg);
    border-radius: 1rem;
}

.mobile-container {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.mobile-detail {
    background-color: #333;
    position: absolute;
    transform: translateY(10px);
    width: 7px;
    height: 7px;
    border-radius: 1rem;
}

.links-container {
    display: flex;
    margin-block: 1rem;
    justify-content: space-evenly;
    margin-top: 3rem;
    height: -moz-available;
    height: -webkit-fill-available;
    align-items: flex-end;
}

.link-icon {
    font-size: 50px;
}

textarea {
    resize: none;
}

input,
textarea {
    border: none;
    border-width: thin;
    border-color: #000;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #fff;
}

.input {

    &.github {
        margin-block: 1rem;
    }

    &.p {
        font-size: 1rem;
        background: #00000029;
    }

    &.h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-block: 1rem;
        background: #00000029;
    }
}

.fa-spinner {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.login-card-container {
    display: flex;
    justify-content: center;
}

.login-title {
    text-align: center;
}

.login-container {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    margin-block: 1rem;
}

.login-error {
    color: #ff8484;
}

.icons-select {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #fff;

    &:hover::after,
    &:focus::after {
        content: attr(aria-label);
        position: absolute;
        top: -2.4em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        white-space: nowrap;
        padding: 5px 14px;
        background: #000;
        color: #fff;
        border-radius: 4px;
        font-size: 0.8rem;
    }

    &[aria-label]:focus {
        outline: none;
    }

    &.admin {
        cursor: pointer;

        &:hover::after,
        &:focus::after {
            background: transparent;
        }
    }

    img {
        width: 35px;
    }
}