@use 'setup';

section {
    padding: 3rem 5rem;
    margin: 2rem 0 5rem;

    & h1 {
        font-size: xxx-large;
    }
}

.description-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-bottom: 7rem;

    img {
        animation: 600ms slide cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
    }

    @keyframes slide {
        0% {
            translate: -1300px;
        }

        100% {
            translate: 0px;
        }
    }
}