@use 'setup';

.header,
footer {
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: space-between;

    & h2 {
        font-size: larger;
    }
}

footer {
    display: block;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: x-large;
}

.social {
    gap: 1rem;
}

.user-container {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    justify-content: center;
}