@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$lightblue: #2e5e9f;
$mediumblue: #274f85;
$darkblue: #183153;
$transparentdarkblue: #00000029;

* {
    font-family: 'Varela Round', sans-serif;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul {
    padding: 0;
}

body {
    color: #fff;
    background-color: #091038;
    //background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(39, 83, 142, 1) 35%, rgba(24, 49, 83, 1) 100%);
    //background-repeat-y: no-repeat;
    max-width: 1800px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.loading {
    margin: auto;
}

.react-datepicker {
    background-color: $lightblue !important;
}

.react-datepicker__input-container input {
    text-transform: capitalize;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__header {
    background-color: $mediumblue !important;
}

.react-datepicker__navigation-icon::before {
    border-color: #fff !important;
}

.react-datepicker__current-month {
    color: #fff !important;
}

.react-datepicker__day:hover {
    background-color: #fff !important;
}

.react-datepicker__day-name {
    color: #fff !important;
}

.react-datepicker__day--selected {
    background-color: $mediumblue !important;

    &:hover {
        color: #000;
    }
}

.react-datepicker__day--keyboard-selected {
    background-color: $mediumblue !important;
    color: #000 !important;

}